<div class="widget-wrap">
    <h4 class="widget-title">Recent</h4>
    <div class="widget">
        <ul id="recent-post">
            {{- range first 5 (where .Site.RegularPages "Type" "post") -}}
            <li>
                <div class="item-thumbnail">
                    <a href="{{ .Permalink }}" class="thumbnail" title="View full article: {{ .Title }}">
                    {{- if and (isset .Params "banner") (not (eq .Params.banner "")) -}}
                        <span style="background-image:url({{ .Params.banner | relURL }})" alt="{{ $.Title }}" class="thumbnail-image"></span>
                    {{- else -}}
                        <span class="thumbnail-image thumbnail-none"></span>
                    {{- end -}}
                    </a>
                </div>
                <div class="item-inner">
                    {{- if isset .Params "categories" -}}
                    {{- if gt (len .Params.categories) 0 -}}
                    <p class="item-category">
                        {{- $url := printf "%s/%s" "categories" (index .Params.categories 0 | urlize | lower) -}}
                        <a class="article-category-link" href="{{ $url | relURL }}" title="View more articles in {{ index .Params.categories 0 }}">
                        {{- index .Params.categories 0 -}}
                        </a>
                    </p>
                    {{- end -}}
                    {{- end -}}
                    <p class="item-title"><a href="{{ .Permalink }}" class="title" title="View full article: {{ .Title }}">{{ .Title }}</a></p>
                    <p class="item-date">
                        <time datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
                    </p>
                </div>
            </li>
            {{- end -}}
        </ul>
    </div>
</div>
