{{- define "main" -}}
    {{- $context := . -}}
    <article id="page-undefined" class="article article-type-page">
            <div class="article-inner">
                {{- if and (isset .Params "banner") (not (eq .Params.banner "")) -}}
                    <img src="{{ .Params.banner | relURL }}" class="article-banner" alt="Banner showing {{ .Params.bannerTitle | default .Title }}" title="{{ .Params.bannerTitle | default .Title }}" class="article-banner">
                {{- end -}}
        
                <header class="article-header">
                    <a href="{{ .Permalink }}" title="{{ .Params.seoTitle | default .Title }}">
                        <h1 class="article-title">{{ .Title }}</h1>
                    </a>
                </header>    
                <div class="article-entry">
                    {{- .Content -}}
                </div>
            </div>
    </article>
    <section class="archives-wrap">
        <div class="archive-category-wrap">
            <span class="archive-category">Articles about: {{ .Title }}</span>
        </div>
        <div class="archives">
            {{- $paginator := .Paginate .Data.Pages -}}
            {{- range $paginator.Pages -}}
                {{- .Render "summary" -}} 
            {{- end -}}
        </div>
    </section>
    {{- partial "pagination" . -}}
    {{- end -}}
