{{- $paginator := .Paginate (where .Site.RegularPages "Type" "post") -}}
{{- range $paginator.Pages -}}
<article class="article article-type-post">
    <div class="article-inner">
        {{- if and (isset .Params "banner") (not (eq .Params.banner "")) -}}
        <a href="{{ .Permalink }}" title="{{ .Params.seoTitle | default .Title }}">
            <img src="{{ .Params.banner | relURL }}" class="article-banner" alt="Banner showing {{ .Params.bannerTitle | default .Title }}" title="{{ .Params.bannerTitle | default .Title }}">
        </a>
        {{- end -}}
        {{- partial "article_header" . -}}
        <div class="article-entry"><p> 
          {{- if .Truncated -}}
            {{- .Summary -}}
          {{- else -}}
            {{- .Content -}}
          {{- end -}}
        </p></div>
        {{- .Scratch.Set "articleList" true -}}
        {{- partial "article_footer" . -}}
    </div>
</article>
{{- end -}}
{{- partial "pagination" . -}}