<footer class="article-footer">
    {{- if or (not (.Scratch.Get "articleList")) (not .Truncated) -}}
    <a href="{{.Site.Params.ghrepo}}/edit/master/content/{{.File.Path}}" rel="external nofollow" title="Edit this article on GitHub">
        <i class="fa fa-edit"></i>Edit on GitHub  
    </a>
    {{- else -}}
        <a href="{{ .Permalink }}" class="article-more-link" title="Click to read the rest of the article">
            <i class="fas fa-hand-point-right"></i>Continue reading...<i class="fas fa-hand-point-left"></i>
        </a>
    {{- end -}}
    <a data-url="{{ .Permalink }}" data-id="{{ .UniqueID }}" class="article-share-link" title="Share this article on social media">
        <i class="fa fa-share"></i>Share
    </a>
    {{- if (not .Params.disable_comments) -}}
    <a href="{{ .Permalink }}#comments" class="article-comment-link" title="Click to read the reactions on this article">
        Comments
    </a>
    {{- end -}}

    <script>
    (function ($) {
        // Prevent duplicate binding
        if (typeof(__SHARE_BUTTON_BINDED__) === 'undefined' || !__SHARE_BUTTON_BINDED__) {
            __SHARE_BUTTON_BINDED__ = true;
        } else {
            return;
        }
        $('body').on('click', function() {
            $('.article-share-box.on').removeClass('on');
        }).on('click', '.article-share-link', function(e) {
            e.stopPropagation();

            var $this = $(this),
                url = $this.attr('data-url'),
                encodedUrl = encodeURIComponent(url),
                id = 'article-share-box-' + $this.attr('data-id'),
                offset = $this.offset(),
                box;

            if ($('#' + id).length) {
                box = $('#' + id);

                if (box.hasClass('on')){
                    box.removeClass('on');
                    return;
                }
            } else {
                var html = [
                    '<div id="' + id + '" class="article-share-box">',
                        '<input class="article-share-input" value="' + url + '">',
                        '<div class="article-share-links">',
                            '<a href="//twitter.com/intent/tweet?url=' + encodedUrl + '" class="fab fa-twitter article-share-twitter" target="_blank" title="Share on Twitter" rel="external nofollow"></a>',
                            '<a href="//www.reddit.com/submit?url=' + encodedUrl + '" class="fab fa-reddit article-share-reddit" target="_blank" title="Share on Reddit" rel="external nofollow"></a>',
                            '<a href="//plus.google.com/share?url=' + encodedUrl + '" class="fab fa-google article-share-google" target="_blank" title="Share on Google+" rel="extenal nofollow"></a>',
                            '<a href="//www.facebook.com/sharer.php?u=' + encodedUrl + '" class="fab fa-facebook article-share-facebook" target="_blank" title="Share on Facebook" rel="external nofollow"></a>',
                        '</div>',
                    '</div>'
                ].join('');

              box = $(html);

              $('body').append(box);
            }

            $('.article-share-box.on').hide();

            box.css({
                top: offset.top + 25,
                left: offset.left
            }).addClass('on');

        }).on('click', '.article-share-box', function (e) {
            e.stopPropagation();
        }).on('click', '.article-share-box-input', function () {
            $(this).select();
        }).on('click', '.article-share-box-link', function (e) {
            e.preventDefault();
            e.stopPropagation();

            window.open(this.href, 'article-share-box-window-' + Date.now(), 'width=500,height=450');
        });
    })(jQuery);
    </script>
</footer>