<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; {{ now.Format "2006"}} by {{ .Site.Params.author }} 
      {{- with .GitInfo -}}
      <br><br>Latest commit on this specific page:<br />
      {{ emojify .Subject }} <a href="https://github.com/frenck/frenck.nl/commit/{{ .AbbreviatedHash }}" title="View latest commit on GitHub">{{ .AbbreviatedHash }}</a>
      {{- end -}}
    </div>
  </div>
</footer>
<script src="{{ "js/jquery.fancybox.min.js" | relURL }}"></script>
<script src="{{ "js/script.js" | relURL }}"></script>
<script src="{{ "js/highlight.min.js" | relURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>